.sidebar {
  color: var(--on-surface-variant);
  height: calc(100vh - 104px);
  overflow-y: auto;
  transition: var(--transition-long);

  @media (max-width: 1200px) {
    position: absolute;
    top: 9.6rem;
    left: 0;
    background-color: var(--background);
    max-width: 34rem;
    z-index: 1000;
    border-block-start: 1px solid var(--banner-background);
    transform: translateX(-100%);
  }

  &.active {
    transform: translateX(0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--banner-background);
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &__list:first-child {
    padding-block: 3.6rem 0;
  }

  &__list {
    padding-inline: 5.6rem;
    list-style: none;

    @media (max-width: 1200px) {
      padding-inline: 3.6rem;
    }
  }

  &__item {
    margin-bottom: 0.8rem;
  }

  &__item:last-child {
    margin-bottom: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--on-surface-variant);
      transition: all 0.1s;

      &:hover {
        color: var(--on-background);
      }
    }
  }

  &__copyright {
    padding: 3.6rem 5.6rem;
    border-top: 1px solid var(--banner-background);

    p {
      margin-bottom: 2rem;
      word-break: break-word;
      word-spacing: 50000px;
    }

    img {
      height: 1.7rem;
    }
  }
}

.sidebar__link.sidebar__title {
  &:link,
  &:visited {
    color: var(--on-background);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    pointer-events: none;
  }
}
