.banner {
  height: 50rem;
  overflow: hidden;
  border-radius: var(--radius-24);
  margin-bottom: 3rem;
  position: relative; }
  @media (max-width: 768px) {
    .banner {
      height: 70rem; } }

.slider {
  position: relative; }
  .slider[banner-slider] {
    width: 100%;
    height: 100%; }
  .slider__item.active {
    opacity: 1;
    visibility: visible;
    left: 0; }
  .slider__item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 120%;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-long); }
    .slider__item::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(var(--banner-overlay));
      display: block; }
    .slider__item--content {
      display: flex;
      flex-direction: column;
      align-items: start;
      position: absolute;
      top: 50%;
      left: 10rem;
      transform: translateY(-55%);
      color: var(--text-color);
      width: 50rem; }
      @media (max-width: 768px) {
        .slider__item--content {
          left: 5rem; } }
      @media (max-width: 575px) {
        .slider__item--content {
          left: 2.5rem; } }
    .slider__item--title {
      color: var(--white);
      font-size: 5.4rem;
      margin-bottom: 1.6rem;
      line-height: 1.2; }
    .slider__item--meta {
      display: flex;
      align-items: center;
      gap: 2rem; }
      .slider__item--meta .rating {
        color: var(--white);
        font-weight: 700;
        font-size: 1.4rem;
        padding-inline: 0.6rem;
        background-color: var(--banner-background);
        border-radius: var(--radius-4); }
    .slider__item--genre {
      margin: 1.2rem 0; }
    .slider__item--description {
      margin-bottom: 2.4rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2; }
    .slider__item--btn {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-decoration: none;
      background-color: var(--primary);
      padding: 1.2rem 2.4rem 1.2rem 2rem;
      border-radius: var(--radius-8); }
      .slider__item--btn img {
        width: 2.4rem;
        height: 2.4rem; }
      .slider__item--btn span {
        font-size: 1.5rem;
        color: var(--white);
        font-weight: 700; }
    .slider__item--img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.control {
  z-index: 300;
  position: absolute;
  right: 0;
  left: calc(100% - 400px);
  bottom: 2rem;
  border-radius: var(--radius-16) 0 0 var(--radius-16);
  user-select: none;
  padding: 4px 0 4px 4px;
  overflow-x: auto; }
  @media (max-width: 575px) {
    .control {
      left: 20px; } }
  .control::-webkit-scrollbar {
    display: none; }
  .control__box {
    display: flex;
    gap: 1.2rem; }
  .control .poster-box {
    border-radius: var(--radius-8);
    overflow: hidden;
    min-width: 10rem;
    filter: brightness(0.4);
    cursor: pointer; }
    .control .poster-box img {
      width: 100%; }
  .control .poster-box.active {
    filter: brightness(1); }

:root {
  --background: hsla(220, 17%, 7%, 1);
  --banner-background: hsla(250, 6%, 20%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --on-background: hsla(220, 100%, 95%, 1);
  --on-surface: hsla(250, 100%, 95%, 1);
  --on-surface-variant: hsla(250, 1%, 44%, 1);
  --primary: hsla(349, 100%, 43%, 1);
  --primary-variant: hsla(349, 69%, 51%, 1);
  --rating-color: hsla(44, 100%, 49%, 1);
  --surface: hsla(250, 13%, 11%, 1);
  --text-color: hsla(250, 2%, 59%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%;
  --bottom-overlay: 180deg, hsla(250, 13%, 11%, 0), hsla(250, 13%, 11%, 1);
  --ff-dm-sans: "DM Sans", sans-serif;
  --fs-heading: 4rem;
  --fs-title-lg: 2.6rem;
  --fs-title: 2rem;
  --fs-body: 1.8rem;
  --fs-button: 1.5rem;
  --fs-label: 1.4rem;
  --weight-bold: 700;
  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
  --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;
  --transition-short: 250ms ease;
  --transition-long: 500ms ease; }
  @media only screen and (min-width: 768px) {
    :root {
      --banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0) 100%;
      --fs-heading: 5.4rem; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; }
  @media (max-width: 768px) {
    html {
      font-size: 45%; } }

body {
  font-size: 1.6rem;
  font-family: var(--ff-dm-sans);
  line-height: 1.6;
  color: var(--on-background);
  font-size: var(--fs-body);
  background-color: var(--background); }
  body::-webkit-scrollbar {
    display: none; }

.main {
  display: grid;
  grid-template-columns: 25rem 1fr; }
  @media (max-width: 1200px) {
    .main {
      grid-template-columns: 1fr; } }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
  border-radius: var(--radius-8); }

:where(input, textarea)::placeholder {
  color: currentColor; }

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit; }

.overlay {
  position: fixed;
  top: 9.6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  opacity: 0;
  display: none;
  z-index: 999; }
  .overlay.active {
    display: block;
    opacity: 0.5; }

.movie-list__btn::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-radius: var(--radius-24);
  border-inline-end-color: transparent;
  animation: loading 500ms linear infinite;
  display: none; }

.movie-list__btn.loading::before {
  display: block; }

.header__search::after {
  position: absolute;
  right: 1.2rem;
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-radius: var(--radius-24);
  border-inline-end-color: transparent;
  animation: loading 500ms linear infinite;
  display: none; }
  @media (max-width: 768px) {
    .header__search::after {
      right: 7rem; } }

.loading.header__search::after {
  display: block; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(1turn); } }

.search-modal {
  display: none;
  position: fixed;
  top: 10.4rem;
  left: 0;
  width: 100%;
  height: calc(100% - 10.4rem);
  background-color: var(--surface);
  z-index: 2000;
  padding: 6.4rem;
  overflow-y: overlay; }
  @media (max-width: 1200px) {
    .search-modal {
      padding: 6.4rem 2.4rem;
      top: 9.6rem;
      height: calc(100% - 9.6rem); } }
  .search-modal.active {
    display: block; }
  .search-modal__label {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-variant);
    margin-bottom: 0.8rem; }
  .search-modal__title {
    color: var(--white);
    font-size: var(--fs-heading);
    line-height: 1.2;
    margin-bottom: 3rem; }
  .search-modal__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 16px;
    row-gap: 20px; }

.header {
  padding: 2.8rem 4rem 2.8rem 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem; }
  @media (max-width: 1200px) {
    .header {
      padding: 2.4rem 1.6rem; } }
  .header__logo {
    width: 14rem;
    margin-left: 1rem; }
    @media (max-width: 1200px) {
      .header__logo {
        margin-right: auto; } }
    .header__logo img {
      width: 100%; }
  .header__search {
    display: flex;
    align-items: center;
    width: 36rem;
    position: relative; }
    .header__search--input {
      width: 100%;
      border: none;
      background-color: var(--banner-background);
      padding: 0 1.6rem 0 4.4rem;
      border-radius: var(--radius-8);
      height: 4.8rem;
      color: var(--on-background);
      transition: var(--transition-short); }
      .header__search--input::placeholder {
        font-size: 1.8rem;
        color: var(--on-surface-variant); }
      .header__search--input:hover {
        box-shadow: 0 0 0 2px var(--on-surface-variant); }
      .header__search--input:focus, .header__search--input:active {
        box-shadow: 0 0 0 2px var(--on-surface);
        padding-inline-start: 16px;
        outline: none; }
    .header__search--btn {
      outline: none;
      border: none;
      background-color: transparent;
      position: absolute;
      left: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
      transition: var(--transition-short);
      cursor: pointer; }
      .header__search--btn img {
        width: 2.4rem;
        height: 2.4rem;
        opacity: 0.5; }
    .header__search--close {
      display: none; }
  .header__menu {
    display: none;
    padding: 1.2rem;
    cursor: pointer; }
    @media (max-width: 1200px) {
      .header__menu {
        display: block; } }
    .header__menu img {
      width: 2.4rem; }
    .header__menu [data-menu-close] {
      display: none; }
    .header__menu.active [data-menu-close] {
      display: block; }
    .header__menu.active [data-menu-open] {
      display: none; }

.header__search--input:focus ~ .header__search--btn {
  opacity: 0;
  display: none; }

@media (max-width: 768px) {
  .header__search {
    display: none; } }

.header__mobile-search {
  display: none;
  padding: 1.2rem;
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
  cursor: pointer; }
  .header__mobile-search:hover img {
    opacity: 1; }
  .header__mobile-search img {
    width: 2.4rem;
    opacity: 0.5;
    transition: all 0.2s; }
  @media (max-width: 768px) {
    .header__mobile-search {
      display: block; } }

.mobile-search-clicked .header__mobile-search {
  display: none; }

.mobile-search-clicked .header__logo {
  display: none; }

.mobile-search-clicked .header__menu {
  display: none; }

.mobile-search-clicked .header__search {
  display: flex;
  width: 100%; }

.mobile-search-clicked .header__search .header__search--close {
  display: block;
  margin-left: 1rem;
  padding: 1.2rem;
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
  cursor: pointer; }
  .mobile-search-clicked .header__search .header__search--close:hover img {
    opacity: 1; }
  .mobile-search-clicked .header__search .header__search--close img {
    width: 2.4rem;
    opacity: 0.5;
    transition: all 0.2s; }

.container {
  background-color: var(--surface);
  padding: 2.4rem 2.4rem 3.5rem;
  height: calc(100vh - 104px);
  border-top-left-radius: var(--radius-36);
  overflow-y: auto;
  position: relative; }
  @media (max-width: 1200px) {
    .container {
      border-top-left-radius: 0; } }
  @media (max-width: 768px) {
    .container {
      padding: 2.4rem 2rem 3.5rem; } }

.slider {
  position: relative;
  z-index: 300; }
  .slider__title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .slider__content {
    overflow-x: overlay;
    margin-inline-end: -24px;
    display: flex;
    gap: 1.75rem;
    padding-block-end: 16px; }
    .slider__content::-webkit-scrollbar-thumb {
      background-color: transparent; }
    .slider__content:hover::-webkit-scrollbar-thumb {
      background-color: var(--banner-background); }

.sidebar {
  color: var(--on-surface-variant);
  height: calc(100vh - 104px);
  overflow-y: auto;
  transition: var(--transition-long); }
  @media (max-width: 1200px) {
    .sidebar {
      position: absolute;
      top: 9.6rem;
      left: 0;
      background-color: var(--background);
      max-width: 34rem;
      z-index: 1000;
      border-block-start: 1px solid var(--banner-background);
      transform: translateX(-100%); } }
  .sidebar.active {
    transform: translateX(0); }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: transparent; }
  .sidebar:hover::-webkit-scrollbar-thumb {
    background-color: var(--banner-background); }
  .sidebar::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .sidebar__list:first-child {
    padding-block: 3.6rem 0; }
  .sidebar__list {
    padding-inline: 5.6rem;
    list-style: none; }
    @media (max-width: 1200px) {
      .sidebar__list {
        padding-inline: 3.6rem; } }
  .sidebar__item {
    margin-bottom: 0.8rem; }
  .sidebar__item:last-child {
    margin-bottom: 3rem; }
  .sidebar__link:link, .sidebar__link:visited {
    text-decoration: none;
    color: var(--on-surface-variant);
    transition: all 0.1s; }
    .sidebar__link:link:hover, .sidebar__link:visited:hover {
      color: var(--on-background); }
  .sidebar__copyright {
    padding: 3.6rem 5.6rem;
    border-top: 1px solid var(--banner-background); }
    .sidebar__copyright p {
      margin-bottom: 2rem;
      word-break: break-word;
      word-spacing: 50000px; }
    .sidebar__copyright img {
      height: 1.7rem; }

.sidebar__link.sidebar__title:link, .sidebar__link.sidebar__title:visited {
  color: var(--on-background);
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  pointer-events: none; }

.movie-card {
  width: 20rem;
  position: relative; }
  .movie-card__img {
    width: 20rem;
    border-radius: var(--radius-16); }
  .movie-card__title {
    font-size: var(--fs-title);
    margin-block: 0.8rem 0.4rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .movie-card__meta {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .movie-card__link {
    position: absolute;
    inset: 0; }
  .movie-card__rating {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 4px; }
    .movie-card__rating img {
      width: 2rem;
      height: 2rem;
      transform: translateY(-3px); }
    .movie-card__rating span {
      line-height: 1; }
  .movie-card__year {
    background-color: var(--banner-background);
    color: var(--white);
    font-size: var(--fs-label);
    font-weight: var(--weight-bold);
    padding-inline: 6px;
    border-radius: var(--radius-4); }

.movie-list__grid .movie-card,
.search-modal .movie-card {
  width: 100%; }

.movie-list__grid .movie-card__img,
.search-modal .movie-card__img {
  width: 100%; }

.movie-list__title {
  font-size: 5.4rem;
  margin-bottom: 5.6rem; }

.movie-list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: 16px;
  row-gap: 20px; }

.movie-list__btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--white);
  font-size: var(--fs-button);
  font-weight: var(--weight-bold);
  cursor: pointer;
  padding-block: 12px;
  padding-inline: 20px 24px;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
  background-color: var(--primary-variant);
  margin-inline: auto;
  margin-block: 36px 60px; }
  .movie-list__btn:hover {
    --primary-variant: hsla(350, 67%, 39%, 1); }

.video-card {
  max-width: 500px;
  width: calc(100% - 40px);
  aspect-ratio: 16 / 9;
  background-color: var(--banner-background);
  border-radius: var(--radius-16);
  background-image: url(./../images/video-bg-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  flex-shrink: 0; }
  .video-card iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.detail {
  display: flex;
  align-items: start;
  gap: 4rem; }
  @media (max-width: 768px) {
    .detail {
      flex-direction: column;
      gap: 0rem; } }
  .detail__bg {
    background-image: url(./../images/bg-overlay.jpg);
    height: 60rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0; }
    .detail__bg::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(0deg, #1a1820, rgba(26, 24, 32, 0.9)); }
  .detail__img {
    max-width: 30rem;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    margin-bottom: 2.5rem;
    z-index: 200;
    border-radius: var(--radius-16);
    overflow: hidden; }
    @media (max-width: 768px) {
      .detail__img {
        position: relative; } }
    .detail__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .detail__content {
    position: relative;
    z-index: 200;
    overflow: hidden;
    margin-right: -2.4rem; }
    .detail__content--box {
      max-width: 75rem;
      padding-right: 2.4rem; }
    .detail__content--title {
      margin-block: 2.4rem 1.4rem;
      font-size: 5.4rem;
      line-height: 1; }
      @media (max-width: 768px) {
        .detail__content--title {
          font-size: 4rem; } }
    .detail__content--meta {
      display: flex;
      gap: 1rem;
      align-items: center;
      color: var(--text-color); }
    .detail__content--separater {
      width: 4px;
      height: 4px;
      background-color: var(--white-alpha-20);
      border-radius: var(--radius-8); }
    .detail__content--rating img {
      width: 2rem; }
    .detail__content--rating span {
      transform: translate(4px, 4px); }
    .detail__content--badge {
      background-color: var(--banner-background);
      color: var(--white);
      font-size: var(--fs-label);
      font-weight: var(--weight-bold);
      padding-inline: 6px;
      border-radius: var(--radius-4); }
    .detail__content--genre {
      color: var(--text-color);
      margin-block: 2rem;
      line-height: 1; }
    .detail__content--description {
      margin-bottom: 2rem; }
    .detail__content--team {
      display: flex;
      margin-bottom: 1rem; }
      .detail__content--team .title {
        color: var(--text-color);
        width: 12rem;
        flex-shrink: 0; }
